# === DEPENDENCIES ===
node_modules/

# === BUILD FILES ===
js/bundle.js
js/bundle.js.map

# === LOGS ===
*.log

# === ENVIRONMENT FILES ===
.env
.env.*.local

# === SYSTEM FILES ===
.DS_Store
Thumbs.db

# === IDE / EDITORS ===
.vscode/
.idea/
*.iml

# === TEMP / BACKUP ===
*.bak
